*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   /* max-width: 1200 px*/;
   
   font-family: 'Alkatra', cursive;
   font-family: 'Montez', cursive;
   font-family: 'Montserrat Alternates', sans-serif; 
   font-family: 'Noto Serif', serif;

   
}


html{
    background: coral;
    
}

body{

    margin: 0;
    background-color: coral;

}

h2{
    text-align: center;
    margin: 0%;
    background-color: coral;
    color: white;
    font-weight: bold;
}


.titulos {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    padding: 5px;
    font-weight: bold;
}


/*-----------------------------------------------------------------------------MAIN CONTENT-------------------------------------------------*/

.boton{
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
}


/*Carrousel*/

.container{
   margin-bottom: 100px;
   width: 50%;
}

.d-block{

    height: 500px;
    width: 300px;
}

/*-----------main experiencias ------------*/

.grid{
    margin-bottom: 100px;
    display:inline-grid;
    grid-template-columns: 30% 30% 30%; 
    grid-template-rows: 50% 50%;
    column-gap: 100px;
    row-gap: 10px;

}

/*------------------------------------------------------------------------------footer ------------------------------------------------------*/


footer{
    display: flex ;
    position: fixed;
    bottom: 0%;
    width: 100%;

}

.rrss{
    background: rgb(201,41,41);
    position: absolute;
    bottom: 0%;
    width: 100%;
    
}
.list-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.link-footer{
    text-decoration: none;
    color: aliceblue;

    
}
.link-footer:hover{
    font-weight: bolder;
    letter-spacing: 1px;
    transition: .5s;
    background: aliceblue;
    border-radius: 2px;
    color:rgb(201,41,41);
}
